.splash {

    h1 {
        text-align: center;
        font-weight: bold;
    }

    img {
        height: auto;
        width: 100%;
    }

    .imagetag {
        text-align: end;
        font-size:1.1rem;
        margin-top: 0.5rem;
        padding-right: 5rem;
    }

}