@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');


.splash{
    html,body{
        font-family: 'Raleway';
    }
    
    h1{
        text-align: center;
        font-weight: bold;
    }

    img{
        height:auto;
        width:100%;
    }

    .imagetag{
        text-align: end;
        margin-top: 0.5rem;
        padding-right: 3rem;
    }

   
}